body {
  margin: 0;
  padding: 0;
}
nav {
  height: 20%;
}
.content {
  display: flex;
  align-items: center;
  height: 100px;
  max-width: 100%;
  background-color: #996e8a;

  padding-left: 50px;
  font-size: 2em;
  font-family: inmpact;
  color: #ffffff;
}
.container {
  display: grid;
  max-width: 600px;
  height: 600px;
  margin: 50px auto 0 auto;
  border: solid 1px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.piece_white {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #f7f28a;
  /* grid-template-columns: 1fr;
  grid-template-rows: 1fr; */
  align-items: center;
  justify-content: center;
}
.piece_black {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #4c2e4c;
  /* grid-template-columns: 1fr;
  grid-template-rows: 1fr; */
  align-items: center;
  justify-content: center;
}
div img {
  width: 80%;
  /* height: 70%; */
  object-fit: cover;
}

@media only screen and (max-width: 600px) {
  nav {
    height: 20%;
  }
  nav .content {
    padding-left: 50px;
    font-size: 1.8em;
  }
  .container {
    max-width: 500px;
    height: 500px;
  }
}
@media only screen and (max-width: 500px) {
  nav {
    height: 20%;
  }
  nav .content {
    padding: 0;
    justify-content: center;
    font-size: 1.6em;
  }
  .container {
    max-width: 370px;
    height: 370px;
  }
}
@media only screen and (max-width: 400px) {
  nav {
    height: 20%;
  }
  nav .content {
    padding: 0;
    justify-content: center;
    font-size: 1.4em;
  }
  .container {
    max-width: 270px;
    height: 270px;
  }
}
@media only screen and (max-width: 300px) {
  nav {
    height: 20%;
  }
  nav .content {
    padding: 0;
    justify-content: center;
    font-size: 1.2em;
  }
  .container {
    max-width: 170px;
    height: 170px;
  }
}
@media only screen and (max-width: 200px) {
  nav {
    height: 20%;
  }
  nav .content {
    padding: 0;
    justify-content: center;
    font-size: 1em;
  }
  .container {
    max-width: 150px;
    height: 150px;
  }
}
.hold {
  border: 4px solid;
}
.nextMove {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 20px 1px rgb(21, 209, 21);
}
.capture {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 20px 1px rgb(195, 73, 73);
}
.invisible {
  display: none;
}
